@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@300;400;600;700&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
}

.header h1 span {
  color: #4d4f62;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.0167rem;
}

.header h1 {
  color: #4d4f62;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.0167rem;
}

.header p {
  width: 100%;
  color: #4d4f62;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0104rem;
  opacity: 0.5;
  margin-top: 1.3rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  width: 31.1rem;
  padding: 2.8rem 2.7rem 2.8rem 11.8rem;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  position: relative;
}

.container h2 {
  color: #4d4f62;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2.7rem;
}

.logo {
  width: 5.7rem;
  height: 5.7rem;
  background-size: cover;
  position: absolute;
  top: 13.7rem;
  left: 22.6rem;
}

.hat {
  width: 31.1rem;
  height: 0.3552rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.hat1 {
  background: #44d3d2;
}

.hat2 {
  background: #ea5454;
}

.hat3 {
  background: #fcae4a;
}

.hat4 {
  background: #549ef2;
}

@media only screen and(min-width:1440px) {
}
